{%  block content %}
    {% if site_logo %}
        <a href="{{  path('<front>') }}" class="logo">
            <img src="{{ site_logo }}" alt="{{ 'Fashion/Style'|t }}" />
        </a>
        <span class="filters-toggle js-toggle-filters">Filters</span>
    {% endif %}
{% endblock %}
