<div class="block product-page-shop">
    <a class="back-link" href="product-overview.html"><img class="icon font-ico-arrow-left" src="themes/custom/fashion_style/assets/svg/ico-arrow-left.svg"> Back to products</a>
    <div class="product-image">
        <div class="product-thumbnails">
            {% for item in content.field_product_image['#items'] %}
                {{ getImage(item.target_id) }}
            {% endfor %}
        </div>
        <div class="img-wrap">
            <img class="full-width" src="assets/img/content/product-page-img-big-1.jpg" alt="">
        </div>
    </div>
    <div class="product-details">
        <div class="block">
            <h1 class="product-name">{{ elements['#title'] }}</h1>
            <span class="product-price">{{ content.field_price }}</span>
            <div class="product-description">
                <div class="tabbed">
                    <ul class="tabs clearfix">
                        <li class="active">
                            <span class="tab-head">{{content.field_description_title['#items'].value }}</span>
                        </li>
                        <li>
                            <span class="tab-head">{{ content.field_composition_title['#items'].value }}</span>
                        </li>
                        <li>
                            <span class="tab-head">{{ content.field_artist_title['#items'].value }}</span>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab active">
                            <p>{{ content.field_description_body['#items'].value }}</p>
                        </div>
                        <div class="tab">
                            <p>{{ content.field_composition_body['#items'].value }}</p>
                        </div>
                        <div class="tab">
                            <p>{{ content.field_artist_body['#items'].value }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block product-colors">
            <span class="selected-color">Selected color: <span class="color-name">{{ boje[0].name }}</span></span>
            <ul class="clearfix">
            {% for boja in boje %}
                {% if boja.color_stock == 0 %}
                <li class="disabled">
                {% else %}
                <li>
                {% endif %}
                    <a href="javascript:;" data-color={{ boja.name }}>
                        <img src={{ boja.url }} alt="">
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="block product-sizes">
            <ul>
                {% for velicina in velicine %}
                    {% if velicina.velicina == 0 %}
                    <li class="disabled">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="javascript:;">{{ velicina.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {#<div class="block product-basket">#}
            {#<a class="btn btn-black btn-big add-to-cart" href="javascript:;">Add to bag</a>#}
        {#</div>#}
    </div>
</div>



